/*
TP1 LOG2420 v 1.0
Équipe G1-3: William Ringuet, Jordan Mimeault, Émile Lefebvre et Sébastien Dagenais
*/

/*
   INDEX CSS
   ==========================================================================
   1.  Thème par défaut CSS
   2.  Pages principales
      2.1 Menu
      2.2 Contenu du site
   3.  Page connexion utilisateur
   ========================================================================== */


/*=========================
1.0  Thème par défaut CSS
===========================*/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family:"AppleGothic";
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

/*=========================
2.0  Pages principales
===========================*/

/*=========================
2.1  Menu (header)
===========================*/

.header-area{
  background-color: firebrick;
  position: center;
  color: white;
  text-align: center;
  padding-top: 2%;
}
a{
  color: white;
  text-decoration: none;
}
/*=========================
2.2  Contenu du site (body)
===========================*/
body{
  text-align: left;
}
body p{
  color:black;
  font-size: 13px;
}
body li{
  color: black;
  font-size: 13px
}

.mission{
  padding-left: 5%;
}
.stats{
  padding-left: 5%;
}

.source{
  font-style: italic;
  font-family: "Arial Italic";
  font-size: 12px;
  font-weight: 400;
}

.titre{
  font-family: "AppleGothic";
  font-weight: 700;
  font-style: normal;
  color:firebrick;
}


