/*
TP1 LOG2420 v 1.0
Équipe G1-3: William Ringuet, Jordan Mimeault, Émile Lefebvre et Sébastien Dagenais
*/

/*
   INDEX CSS
   ==========================================================================
   1.  Thème par défaut CSS
   2.  Pages principales
      2.1 Menu
      2.2 Contenu du site
      2.3 Modal
   3.  Pages format cellulaire landscape
   4.  Pop-up inscription
   ========================================================================== */


/*=========================
1.0  Thème par défaut CSS
===========================*/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family:"AppleGothic";
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

/*=========================
2.0  Pages principales
===========================*/

/*=========================
2.1  Menu (header)
===========================*/

.header-area{
  background-color: #11A9A9;
  position: center;
  color: white;
  text-align: center;
  padding-top: 2%;

}
.header-area a{
  color: white;
  text-decoration: none;
}
.menu{
  width: 100%;
}
.menu button{
  color: white;
  width: 20%;
  text-decoration: none;
  background-color : #11A9A9;
  border: none;
  text-align: center;
  padding-bottom: 2%;
  padding-left: 2%;
}
.menu button:focus {
  outline:0;
  border-bottom:5px solid white;
}
.menu button:hover{
  cursor: pointer;
}

.menu a:focus{
  color: black;
  text-decoration: white;
  border: black;
}

.banner{
  width: 100%;
}

/*=========================
2.2  Contenu du site (body)
===========================*/
body{
  text-align: left;
}

body p{
  color:black;
  font-size: 13px;
}
body li{
  color: black;
  font-size: 13px
}

.mission{
  padding-left: 5%;
  position: absolute;
}
.stats{
  padding-left: 5%;
  position: absolute;
  display: none
}
.reglement{
  padding-top: 2%;
  padding-left: 5%;
  position: absolute;
  display: none;
}
.inscription{
  padding-top: 5%;
  left: 40%;
  text-align: center;
  position: absolute;
  display: none

}
.inscription button{
  color: white;
  text-decoration: none;
  background-color : #11A9A9;
  text-align: center;
  border : none;
}

.inscription button:hover{
  cursor: pointer;
  background-color : #12baba;
}

.normal-text{
  color: black;
  font-size: 13px
}

.gold{
  color:#F59A23;
  font-size: 13px;
}
.source{
  font-style: italic;
  font-family: "Arial Italic";
  font-size: 12px;
  font-weight: 400;
}
.formulaire{
  color:#11A9A9;
  font-size: 13px;
}

.titre{
  font-family: "AppleGothic";
  font-weight: 700;
  font-style: normal;
  color:#11A9A9;
}

.menu a{
  padding: 0px 30px 6px 30px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: inline-block;
}

.banner a{
  text-align: center;
}

.banner b{
  padding:0 0 0 25px
}
/*=========================
2.3  Modal
===========================*/
.modal {
  display : none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  padding-bottom : 90%;
  left: 0;
  top: 0;
  width: 100%;
  height: 30%%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/*=========================
3.1  Orientation "landscape" et écran téléphone
===========================*/
@media (max-width : 850px) and (orientation: landscape){
.banner {
  text-align: left;
}

.banner td {
  padding : 6px 6px 6px 30px;
}

table {
border-spacing: 8px 2px;
}

td {
padding: 6px;
}

.menu {
  height: 75%;
  width: 160px;
  z-index: 1;
  top:80px;
  left: 0;
  background-color: #11A9A9;
  overflow-x: hidden;
  padding-top: 20px;
  position:absolute;
}

.menu button {
  width:160px;
  padding: 20px 5px 20px 5px;
  text-decoration: none;
  color: white;
  display: block;
  text-align : center;
}

.menu button:hover{
  cursor: pointer;
  border-bottom: none;
}
.menu button:focus {
  outline:0;
  border-left:5px solid white;
  border-bottom:0;
}

.mission {
  margin-left: 160px;
  padding: 0px 10px;
}
.stats {
  margin-left: 160px;
  padding: 0px 10px;
}
.reglement {
  margin-left: 160px;
  padding: 0px 10px;
}
.inscription {
  padding-top: 5%;

}
}
@media (max-width: 430px) {
  .inscription{
    padding-top: 5%;
    left:14%;
  }
}
/*=========================
4.0 Pop-up inscription
===========================*/
.page-popup{
  background-color: #888888;
  opacity: 0.5;
  /*display: none;*/
  font-size: 13px;
  position: center;
  z-index: 1;
}
.pop-up{
  opacity: 1;
  z-index: 2;
  margin: auto;
  padding: 10px;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 2%;
  text-align: center;
  color: #555555;
}
.titre-popup{
  border-bottom: 1px solid #555555;
  text-align: left;
  color: #555555;
  font-size: 20px;
  font-weight: bold;
}

.ligne {
  border-bottom: 1px solid black;
}

.bouton-ok{
  font-size: 13px;
  width: 100px;
  margin: 0 2% 0 70%;
  color: white;
  background-color: #11A9A9;
  border-color: #11A9A9;
  border-radius: 5%;

}

